.idea

# Terraform and terragrunt
*.tfstate/
*.tfstate.backup
*.tfplan
.terragrunt-cache/
.terraform/

test/fixtures/keys/*
!test/fixtures/keys/.gitkeep

**/.terraform/**
**/.terragrunt-cache/**
*.tfstate
*.tfstate.*
backend.auto.tf
provider.auto.tf
